.navbar-main-div{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding-left: 5px;
    padding-top: 1rem;
}
*{
    font-family: "Roboto";
}

.logout-button{
    background-color: transparent;
    border: 0px transparent solid;
    cursor: pointer;
}

.menu-container{
    display: flex;
    gap: 1rem;
    align-items: center;
    color: #505887;
    cursor: pointer;
}

.menu-title-name{
    font-size: 18px;
    font-weight: 600;
    font-family: "Roboto";
}

.email{
    color: gray;
    font-size: 14px;
    font-weight: 500;
}

.user-email-container{
    display: flex;
    align-items: center;
    height: 50px;
    gap: 10px;
    width: 100%;
}

.user-logout-div{
    display: flex;
    justify-content: space-between;
}



.active-menu{
    border-left: 6px rgba(35, 35, 214, 0.902) solid; 
    color: rgba(35, 35, 214, 0.902);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.user-img{
    height: 40px;
    width: 40px;
    border-radius: 40px;
}