/* styles.css or your preferred CSS file */
.chart-container {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  
  .bargraph{
    width: 100%;
    height: 400px;
  }

 